!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title WorkMonitor Frontend
  %body{ :style => 'text-align: center; padding-top: 50px;'}
    = yield